In [2]:
num_points = 120
print(num_points)

120

In [3]:
location_data = 42.3601

location_data = "Boston"

location_data = [42.3601, -71.0589]

print(location_data)

[42.3601, -71.0589]

Exercises

In [4]:
#Exercise 1

nyc_lat = 40.7128
nyc_long = -74.0060
nyc_pop = 8336817
nyc_area = 783.8

nyc_pop_dens = nyc_pop/nyc_area

print(nyc_pop_dens)
print(f"Latitude:{nyc_lat}, Longitude:{nyc_long}")

10636.408522582293
Latitude:40.7128, Longitude:-74.006

In [5]:
nyc_name = "New York City"
print(nyc_name.lower())
print(nyc_name.upper())

nyc_name = "Los Angeles"
print(nyc_name)

new york city
NEW YORK CITY
Los Angeles