In [1]:
tokyo_point = (
    35.6895,
    139.6917
)
print(f"Tokyo coordinates:{tokyo_point}")

Tokyo coordinates:(35.6895, 139.6917)

In [ ]:
lat = tokyo_point[0]
long = tokyo_point[1]
name = "Tokyo"
geirg = 
print(f"Latitude:{lat}")
print(f"Longitude:{long}")

Latitude:35.6895
Longitude:139.6917